* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: black;
}
.sec1 {
  background-image: url(../images/m.jpeg);filter: saturate(0.5);
  width: 100%;
  height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.overlay {
  background-color: rgba(100, 98, 98, 0.562);
  width: 100%;
}
.li1 {
  display: inline-block;
  padding-left: 45px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 10%;
  height: 90px;
  position: fixed;
  width: 100%;
}
/* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px;*/

.hr1 {
  width: 80%;
  background-color: white;
  margin-right: 130px;
}
input {
  border: 0;
  color: transparent;
  background-color: transparent;
}
/*            end of nav    */
/*.card1 {
  width: 30%;
}*/
i {
  color: white;
  font: size 40px;
  display: inline-block;
}

/*.card1 p {
  color: white;
  margin-left: 40px;
}/*/

.fa-regular {
  font-size: 60px;
  color: white;
}
.shadow {
  box-shadow: 3px 0px 0px 4px darkorange;
  border-radius: 50%;
}
/*end of nav and sec1*/

/*.card2 p {
  color: dimgray;
}*/

footer {
  justify-content: space-around;
  height: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}
.white-text {
  color: white;
}
p.text-white {
  color: white;
}
.div-m {
  margin-top: 2%;
}
.div-flex {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  width: 345px;
}

.li2 {
  padding-left: 65px;
}
/*end of footer */
.form-end {
  position: relative;
}
.fa-arrow-right {
  position: absolute;
  right: 5%;
}
/*end of fottor done*/
.cont3 {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
}

.left-aside {
  width: 30%;
  border-left: 2px solid darkgray;
}
.b-b {
  border-bottom: 2px solid darkgray;
  padding: 20px;
}
.div-flex1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 30px;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
  box-shadow: 4px 2px 4px 4px darkgrey;
  margin-left: 20px;
}
.div-image {
  width: 25%;
  height: 70px;
}
.img1 {
  width: 100%;
  height: 70px;
}
.div-p {
  width: 65%;
  height: 70px;
}
.icon-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  margin-left: 20px;
}
.fa-facebook {
  color: black;
  border: 10px solid darkgrey;
  border-radius: 50%;
  margin-top: 10px;
}
.h1 {
  border-top: 2px solid darkgrey;
}
.fa-circle-up {
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: darkorange;
}
.h-2 {
  height: 20px;
  padding: 20px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}
.div-img {
  width: 90%;
  height: 400px;
  margin-left: 10%;
  margin-top: 20px;
}
nav.s-nav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0px;
  padding-left: 0px;
}
.li3 {
  display: inline-block;
}
.div-ul {
  width: 60%;
}
/*.d-icon{width: 60px; height: 60px; border-radius: 50%;border-right: 2px solid white;border-left: 2px solid darkorange;border-top: 2px solid darkorange; position: relative;}
  .card1{display: flex;flex-wrap: wrap;justify-content: flex-start; width: 30%; margin-top: 5%;}
  p.float{position: absolute;top: 30%;left: 40%;color: white;}*/
.d-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card1 {
  margin-top: 20%;
  width: 25%;
  display: flex;
  margin-left: 61px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.ic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(141, 140, 138);
  position: relative;
}
.ic p {
  position: absolute;
  top: 20%;
  left: 20%;
}
span.span {
  left: 6%;
  color: white;
  position: absolute;
  top: 69%;
  line-height: 1;
  font-size: 20px;
  /* left: 7%;
    color: white;
    position: absolute;
    bottom: 46%;
    line-height: 1;
    font-size: 25px;*/
}
.div-pa {
  width: 50%;
}
.div-p > p {
  color: white;
}
.card2 {
  margin-top: 20%;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ico {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 2px solid darkorange;
  border-right: 2px solid darkorange;
  border-bottom: 2px solid darkorange;
  border-left: 2px solid dimgray;
  position: relative;
}
span.spa2 {
  left: 31%;
  color: white;
  position: absolute;
  bottom: 26%;
  line-height: 1;
  font-size: 20px;
}
.div-p2 > p {
  color: rgb(53, 53, 51);
} /*left: 32%;{
  left: 31%;
  color: white;
  position: absolute;
  bottom: 39%;
  line-height: 1;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 46%;
  line-height: 1;
  font-size: 25px;}
  .div-p2>p{color: yellow;}*/
/*end of 2 cards*/
.card3 {
  margin-left: 50px;
  margin-top: 20%;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.icon3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(141, 138, 135);
  position: relative;
}
span.spa3 {
  color: white;
  position: absolute;
  left: 6%;
  bottom: 54%;
  line-height: 1;
  font-size: 20px;
}
.div-p3 > p {
  color: white;
}
/* end of sec1*/

/*
 */
h1.text-white {
  color: white;
}
.div-flex1 ~ p {
  color: black;
}
.div-p > p {
  color: black;
} /*




*/ /*end of header   nav aside*/
.s-nav {
  position: unset;
}
.right-aside {
  background-color: white;
  width: 60%;
}
.li3 a {
  color: dimgray;
}
.ul1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-border {
  border-bottom: 2px solid darkorchid;
  padding-bottom: 32px;
}
/*                                                            

*/
.container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-image1 {
  width: 45%;
  margin-top: 20px;
  border: 2px solid darkgray;
  box-shadow: 4px 3px 8px darkgrey;
} /*


*/
.cardimg {
  width: 45%;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.contimg {
  border: 2px solid darkgrey;
  box-shadow: 4px 3px 8px darkgrey;
  margin-bottom: 5px;
}
.img-p {
  display: inline-block;
  width: 54%;
  margin-left: 5px;
}
.fa-angle-left {
  border: 17px solid darkgray;
  color: black;
  border-radius: 50%;
  font-size: larger;
}
.fa-angle-right {
  border: 17px solid darkgray;
  font-size: larger;
  color: black;
  border-radius: 50%;
}
.mininav {
  margin-top: 20px;
}

/*end of mini nav 


  */
.container-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.con-img1 {
  width: 45%;
  margin-top: 20px;
  position: relative;
  border: 2px solid dimgray;
  box-shadow: 4px 3px 8px dimgray;
}
.btn-3 {
  position: absolute;
  top: 4%;
  left: 4%;
  color: darkslateblue;
  border: 2px solid transparent;
  width: 80px;
}
.p-4 {
  display: inline-block;
}
/*
  */
.minidiv {
  width: 45%;
  display: flex;
  flex-wrap: wrap;justify-content: space-between;
}
.bo {
  border: 4px solid dimgray;
  box-shadow: 4px 3px 8px dimgray;
  margin-top: 20px;
}
p .p-4 {
  display: inline-block;
}

/* nd of asid */
.sec3 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.img3 {
  width: 30%;
  background-image: url(../images/m.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.img5 {
  width: 30%;
  background-image: url(../images/wep.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.img7 {
  width: 30%;
  background-image: url(../images/و.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.btn3 {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 100px;
  color: darkviolet;
}
.btn5 {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 100px;
  color: darkviolet;
}
.btn7 {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 100px;
  color: darkviolet;
}
.h-3 {
  color: white;
  padding: 10px;
}
/* end of sec3*/
.cont4 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.leftdiv {
  width: 55%;
}
.rightdiv {
  width: 25%;
}
.p {
  text-align: center;
}
.bo {
  position: relative;
}
.btn-img {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 80px;
  color: darkviolet;
}

/*end of right side*/
.imgtext {border-left: 0px !important;border-right: 0px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid dimgray;
  box-shadow: 4px 2px 8px dimgray;
  margin-top: 20px;
}
.img-9 {
  width: 25%;
}
.textsize {
  width: 65%;
}
.sec4{margin-bottom: 10%;}
.size{width: 45%;}
