* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;

}
a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: black;
}
.sec1 {
  background-image: url(../images/و.jpg);
  width: 100%;
  height: 395px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.overlay {
  background-color: rgba(19, 18, 18, 0.562);
  width: 100%;
}
li {
  display: inline-block;
  padding-left: 45px;
}
nav {    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 10%;
  height: 90px;
 /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px;*/
}
.hr1 {
  width: 80%;
  background-color: white;
  margin-left: 96px;
}
input {
  border: 0;
  color: transparent;
  background-color: transparent;
}
/*            end of nav    */
.card1 {
  width: 30%;
}
i{color:white;font: size 40px;display: inline-block;}
.card1 p{color: white;margin-left: 40px;}
.d-flex{display: flex;flex-wrap: wrap;align-items: flex-end; height: 250px; padding: 25px;}
.fa-regular{font-size: 60px; color: white;}
.shadow{box-shadow: 3px 0px 0px 4px darkorange;
    border-radius: 50%;
}
/*end of nav and sec1*/
.cont3{display: flex;width: 80%; margin: auto; justify-content: space-between;}
.card2 p{color: dimgray;}
.right-aside{width: 30%;}
.left-aside{width: 60%;}





footer {
  justify-content: space-around;
  height: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;height: 150px;}
.text-white{color: white;}
.div-m{margin-top: 2%;}
.div-flex{display: flex;flex-wrap: wrap;height: 100px;align-items: center;}

    
